*/body {
    font-family: "Open Sans";
}

video {
    width: 100%;
    height: auto;
    max-height: 500px;
}

.job_title {
    border-top: 2px solid green;
}

body {
    background-color: #f4f4f4;
}

.job>div>div>img {
    /*margin-top: 30%;*/
}

ul {
    margin: 0 0 0 0;
}

.date {
    font-size: .75em;
    font-style: oblique;
}