index.statement, dt > a{
  color: #0f0;
  list-style-position: outside;
  text-decoration: none;
  font-weight: 500;
  margin: 5px;
}
.details{
  list-style-position: outside;
  font-weight: 300;
  margin: 5px;
}
.mdl-layout__content{
  background-color: white;
}

h6{
  font-style: bold;
}

.section-card{
  font-size: 100%;
  position: static;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 3;
}
.section-card > h4{
  position: static;
  text-align: left;
  color: #fff;
  background-color: #4CAF50;
  text-decoration: none;
  padding: 1.0% 2.0%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0;
}
.section-card > .section-content{
  position: static;
  background-color: #333;
  text-align: left;
  color: #fff;
  font-size: 1em;
  padding: 1.0% 2.5%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.section-content > .startToEnd {
  float: right;
  font-size: 0.9em;
  font-weight: 700;
  color: #64DD17;
}

.section-card > a{
  color: #0f0;
  text-decoration: none;
}

#my-face{
    height: 300px;
    width: 300px;
}