header{
	font-weight: 400;
	font-size: 35px;
	background-color:#eee;
	color: #00d500;
}
header a{
	color: #00d500;
	text-decoration: none;
}
nav {
	width: 100%;
	font-weight: bold;
	background-color:#eee;
	display: block;
	white-space: nowrap;
	padding-bottom: 5px;
}
nav a {	
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	color:#060;
	padding: 5px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}
a{
	transition: text-decoration .25s ease-in-out;
	transition: color .25s ease-in-out;
	transition: background-color .50s ease-in-out;
	transition: background .50s ease-in-out;
}
a:hover {
	color: #0f0;
	text-decoration: underline;
	background-color: #777;
}
body{
/*    position: static;*/
    padding: 0px;
    margin: 0px;
	width: 100%;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400;
	background-color: #404440;
}
strong{
	color: #080;
	font-weight: 700;
}
index.statement, dt > a{
	color: #060;
	list-style-position: outside;
	text-decoration: none;
	font-weight: 500;
	margin: 5px;
	font-size: 17px;
}
.details{
	list-style-position: outside;
	font-weight: 300;
	font-size: 15px;
	margin: 5px;
}
.content {
	background-color: #eee;
	color: #3C3C3C;
	padding: 1% 5% 1% 5%;
	margin:  0% 10% 1% 10%;
}
h3{
	color: #060;
	text-decoration: underline;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
h2{
	color:#040;
}
.startToEnd {
	float: right;
	font-size: 15px;
	font-style: oblique;
	font-weight: 500;
	color: #060;
}

my-header{
    font-family: "Ubuntu", sans-serif;
    position: static;
    height: 85px;
}
